<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ $.Site.BaseURL }}/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="og:title" content="{{ .Title }}" />
    <meta name="og:description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta name="og:image" content="{{ .Params.Image }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:site" content="@t4traw" />
    <meta name="twitter:creator" content="@t4traw" /> 
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/favicon/apple-touch-icon-180x180.png">
    {{ "<!-- ソースコードの中で気になったものがあったら@t4trawに聞いてください！お友達になりましょう！ -->" | safeHTML }}
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>
  <script src="{{ .Site.BaseURL }}{{ if eq (getenv "APP_ENV") "dev" }}bundle.js{{ else }}{{ index .Site.Data.manifest "bundle.js" | relURL }}{{ end }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.0.1/instantclick.js" data-no-instant></script>
  <script data-no-instant>
    (function(i,s,o,g,r,a,m){
      i['GoogleAnalyticsObject']=r;
      i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments);},i[r].l=1*new Date();
      a=s.createElement(o),m=s.getElementsByTagName(o)[0],a.async=1,a.src=g;
      m.parentNode.insertBefore(a,m);
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-149611831-1', 'auto');
    InstantClick.on('change', function () {
      ga('send', 'pageview', location.pathname + location.search);
    });

    InstantClick.init();
  </script>
</html>