{{ define "main" }}

<h1 class="title">{{ .Title }}</h1>
<div class="columns is-multiline">
  {{ range where (.Paginator 12).Pages "Section" "blog" }}
    {{ .Render "pagelist" }}
  {{ end }}
</div>

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div id="pagination">
  <nav role="pagination">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}" class="stretched-link">前のページ</a>
    {{ end }}
    <span class="">{{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</span>
    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" class="stretched-link">次のページ</a>
    {{ end }}
  </nav>
</div>
{{ end }}

{{ end }}

