{{ define "main" }}
<h1>{{ .Title }}に関する記事一覧</h1>
<ul class="posts">
  {{ range (.Paginator 15).Pages }}
    <li><a href="{{.Permalink}}">{{ .Title }}</a><time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "2006/01/02"}}</time></li>
  {{ end }}
</ul>

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div id="pagination">
  <nav class="page_list_pagination" role="pagination">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}" class="stretched-link">前のページ</a>
    {{ end }}
    <span class="">{{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</span>
    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" class="stretched-link">次のページ</a>
    {{ end }}
  </nav>
</div>
{{ end }} {{ end }}
