<div class="column is-4">
  <a href="{{.Permalink}}">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          {{ if .Params.Image }}
            <img src="{{ $.Site.BaseURL }}/images/{{ .Params.Image }}">
          {{ else }}
            {{ partial "blank.svg" .}}
          {{ end }}
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="link">{{ .Title }}</p>
          </div>
        </div>
        <div class="content">
          <time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "2006-01-02"}}</time>
        </div>
      </div>
    </div>
  </a>
</div>