{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<div class="single">
  <article>
    {{ if .Params.Image }}
      <img src="{{ .Params.Image }}">
    {{ else }}
      {{ partial "blank.svg" .}}
    {{ end }}
    <h1 class="title">{{ .Title }}</h1>
    <nav>
      <span>{{ dateFormat "2006年1月2日" .Date }}</span>
      {{ with .Params.categories }}<span class="category_list">カテゴリー:{{ range . }} <a href="/categories/{{ . | urlize }}/">{{ . }}</a>{{ end }}</span>{{ end }}
      {{ with .Params.tags }}<span class="tag_list">タグ:{{ range . }} <a href="/tags/{{ . | urlize }}/">{{ . }}</a>{{ end }}</span>{{ end }}
    </nav>
    {{ if eq .Params.toc true }}
    <aside>
      {{.TableOfContents}}
    </aside>
    {{ end }}
    {{ .Content }}
  </article>
  {{ $related := .Site.RegularPages.Related . | first 10 }}
  {{ with $related }}
  <div class="related_links">
    <h3>関連する記事</h3>
    <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
{{ end }}