{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }} {{ define "main" }}
<div class="single">
  <article class="article">
    {{ if .Params.Image }}<img src="{{ $.Site.BaseURL }}{{ .Params.Image }}" />{{ end }}
    <h1>{{ .Title }}</h1>
    {{ .Content }} {{ partial "metadata.html" . }}
  </article>

  {{ $related := .Site.RegularPages.Related . | first 9 }} {{ with $related }}
  <div class="related_links">
    <h3 class="title">こちらの記事もどうぞ 🤲</h3>
    <div class="columns is-multiline">
      {{ range . }}
      <ul class="posts">
        <a href="{{.Permalink}}">
          <li>{{ .Title }}</li>
        </a>
      </ul>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
