@keyframes bg-color {
  0% { background-color: #749fff; }
  20% { background-color: #44b6ff; }
  40% { background-color: #ffd41d; }
  60% { background-color: #ff967c; }
  80% { background-color: #ba75ff; }
  100% { background-color: #749fff; }
}
.flight {
  background-color: #e74c3c;
  animation: bg-color 43s infinite;
  position: absolute;
  height: 50vh;
  width: 100%
}

.frame {
  width: 500px;
  height: auto;
  margin: 40vh auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/**
 * Paper Plane
 */
/*Paper Plane: Container*/
.plane-container {
  // PC
  @media screen and (min-width: $tablet_width + 1px) {
    width: 200px;
  }
  // Tablet
  @media only screen and (min-width: $smartphone_width + 1px) and (max-width: $tablet_width) {
    width: 150px;
  }
  // Smartphone
  @media screen and (max-width: $smartphone_width) {
    width: 100px;
  }
  margin: 0px auto 0px 65vw;
  z-index: 3;
}
 /*Paper Plane: Image*/
.plane {
  width: 100%;
  height: 60px;
}

/*Paper Plane: Animation*/
.plane-container {
  animation: paper-plane-scoping 2s alternate infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes paper-plane-scoping {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(60px);
  }
}

.plane {
  animation-timing-function: ease-in-out;
  animation: paper-plane-soaring 4s forwards infinite;
}
@-webkit-keyframes paper-plane-soaring {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(18deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/**
 * Clouds
 */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  animation-duration: 9.2s;
}
.slower {
  animation-duration: 11.2s;
}
.slowest {
  animation-duration: 13.5s;
}
.super-slow {
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-1000px);
  }
}
