#metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background: var(--nc-bg-2);
  padding: 1rem;
  ul {
    margin: 0;
    li {
      margin: 0;
    }
  }
}
