html {
  height: 100%;
}

body {
  font-family: $base_font_family;
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

a {
  &:hover {
    border-bottom: 1px solid lighten($link_color, 20);
  }
}

strong {
  background-color: $yellow_color;
  margin: 0 5px;
  padding: 4px 0;
}

@mixin background-gradation($angle: 20deg, $color-a: $brand_color, $color-b: 20%) {
  background: linear-gradient($angle, $color-a, $color-b);
}

// PC
// @media screen and (min-width: $tablet_width + 1px)
// Tablet
// @media only screen and (min-width: $smartphone_width + 1px) and (max-width: $tablet_width)
// Smartphone
// @media screen and (max-width: $smartphone_width)

@keyframes transparent {
  100% {
    opacity: 1;
  }
}

@mixin fadein($time) {
  opacity: 0;
  animation: transparent 0.5s ease $time 1 forwards;
}

.button {
  font-weight: bold;
}

.main_container {
  margin: 0 auto 0;
  @media screen and (min-width: $tablet_width + 1px) {
    margin: 0 auto 100px;
  }
  padding: 0 20px;
  width: 100%;
  max-width: $pc_width;
  flex: 1;
  box-sizing: border-box;
}

.stretched-link::after {
  // position: absolute
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}
