.sidebar {
  section {
    padding: 0 0 2rem 0;
    .title {
      color: #fff;
      background-color: $pink_color;
      font-size: 1rem;
      padding: 0.7rem;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  }
}