$base_fontsize: 1rem;

$pc_width: 1120px;
$tablet_width: 768px;
$smartphone_width: 414px;

$red_color: #ff5746;
$pink_color: #ff8874;
$blue_color: #94d8ff;
$purple_color: #972aff;
$green_color: #17dbd6;
$yellow_color: #fff8c6;
$gray_color: #cccccb;
$black_color: #424242;
