$red_color: #ff5746;
$pink_color: #ff8874;
$blue_color: #3FC6FF;
$purple_color: #972AFF;
$green_color: #17dbd6;
$yellow_color: #fff8c6;
$gray_color: #cccccb;
$black_color: #424242;

$brand_color: $blue_color;
$brand_grad: linear-gradient(20deg, $brand_color, adjust-hue($brand_color, 20%));

$link_color: #285dff;

$pc_width: 1280px;
$tablet_width: 620px;
$smartphone_width: 414px;

$base_font_family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$base_font_size: 20px;
