<footer class="footer is-tag">
  <div class="container">
    <h2 class="title">きーわーど</h2>
    <ul>
      {{ range first 50 $.Site.Taxonomies.tags.ByCount }}
        <li><a href="{{ $.Site.BaseURL }}tags/{{ .Name | urlize | lower }}/">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>
</footer>

<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-archive">
        <h2 class="title">あーかいぶ</h2>
        <ul>
          {{ range $.Site.Taxonomies.archives.Alphabetical.Reverse }}
            <li><a href="{{ $.Site.BaseURL }}archives/{{ .Name | urlize | lower }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="column">
        <h2 class="title">ぺーじ</h2>
        <ul>
          <li><a href="/about">あばうと</a></li>
          <li><a href="/contact">おといあわせ</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


