<header>
  <div class="navbar is-transparent">
    <div class="navbar-brand">
      <div class="logo" class="navbar-item">
        <a href="/">{{ partial "logo.svg" .}}</a>
      </div>
      <div class="navbar-burger burger" onclick="toggle_menu(this)" data-target="header_menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="header_menu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/about">あばうと</a>
        <a class="navbar-item" href="/contact">おといあわせ</a>
      </div>
    </div>
  </div>
</header>
